<br>
<br>
<div class="card">
    <div class="card-header">
        <h3>Liste des établissements</h3>
    </div>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Nom de l'établissement </th>
                <th class="text-center">Modifier l'établissement</th>
                <th class="text-center">Modifier les bières vendues</th>
                <th class="text-center">Activer</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
            <tbody>
                <app-element-liste-etab class="innerForm" *ngFor="let etab of lEtabsOrgaPagination"
                [etab]="etab">
                </app-element-liste-etab>
            </tbody>

    </table>
    <div *ngIf="!lEtabsOrga.length" class="card-header">
        Il n'existe pas encore d'établissement pour l'organisation
    </div>

    <div>
        <br>
    </div>
  
    <div class="d-flex justify-content-center">
        <pagination [totalItems]="lEtabsOrga.length" (pageChanged)="pageChanged($event)" previousText="{{previousText}}"
        nextText="{{nextText}}" [itemsPerPage]="itemsPerPage"></pagination>
    </div>

    <br>
    <br>

    <button class="btn btn-primary" routerLink="/FicheEtablissement/new">Ajouter un établissement</button>

</div>