<br>
<br>

<div class="card">
    <div class="card-header">
        <h3>Achats de vues</h3>
    </div>
        <table  class="table table-striped">
            <thead>
                <tr *ngIf="lAchatBiere.length">
                    <th>Bière</th>
                    <th class="text-center">Vues restantes</th>
                    <th class="text-center">Vues à acheter</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Ajou/Supp</th>
                </tr>  
            </thead>
            <tbody>
                <app-new-achat-biere-element  class="innerForm" *ngFor="let achatBiere of lAchatBiere"
                [lAllowedBiere]="lBiere" [lTarifsBiere]="lTarifBiere" [achatBiere]="achatBiere">
                </app-new-achat-biere-element>   
            </tbody>

            </table>
            <table  class="table table-striped">
                <thead>
                    <tr *ngIf="lAchatEtab.length">
                        <th>Etablissement</th>
                        <th class="text-center">Vues restantes</th>
                        <th class="text-center">Vues à acheter</th>
                        <th class="text-center">Prix</th>
                        <th class="text-center">Ajou/Supp</th>
                    </tr>  
                </thead>
                <tbody>
                    <app-new-achat-etab-element  class="innerForm" *ngFor="let achatEtab of lAchatEtab"
                    [lAllowedEtab]="lEtab" [lTarifsEtab]="lTarifEtab" [achatEtab]="achatEtab">
                    </app-new-achat-etab-element>  
                </tbody>
                </table>
        <br>
        <br>
        <div class="col-md-12 row">
            <button class="btn btn-success" (click)="addVueBiere()">Ajouter des vues bière</button>
            <br>
            <button class="btn btn-success" (click)="addVueEtab()">Ajouter des vues établissements</button>
        </div>
        <div>
            <br>
        </div>
        
    <div class="card-footer">
        <div class="solde"><b>Prix total : {{solde}} €</b></div>
    </div>
</div>
<div>
    <br>
</div>
<div class="text-center">
    <button class="btn btn-primary" (click)="preparePayment()" [attr.disabled]="solde<=0 ? 'disabled' :null">Passer au paiement</button>
</div>

