<br>
<br>
<div class="card">
    <h3 *ngIf="etab.isNew" class="card-header">Nouvel établissement</h3>
    <h3 *ngIf="!etab.isNew" class="card-header">Détails de l'établissement</h3>

    <div class="card-body">
        <form [formGroup]="etabForm" (ngSubmit)="onSubmitForm()">  
            
            <div *ngIf="isAdmin()" class="col-md-12 row">
                <!--Organisation-->
                <div class="form-group col-md-6">
                    <label class="control-label">Organisation</label>
                    <select formControlName="orgId" class="form-control">
                        <option *ngFor="let orga of lOrganisations" [ngValue]="orga.orgId">
                            {{orga.orgNom}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="col-md-12 row">
                <!--Nom-->
                <div class="form-group col-md-12">
                    <label class="control-label">Nom</label>
                    <input type="text"  class="form-control" id="etaNom" formControlName="etaNom">  
                    <div *ngIf="submitted && form.etaNom.invalid">
                        <div *ngIf="form.etaNom.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaNom.errors?.maxlength" class="text-danger" >*maximum 200 caractères </div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Type-->
                <div class="form-group col-md-6">
                    <label class="control-label">Type</label>
                    <select formControlName="typEta" class="form-control">
                        
                        <option *ngFor="let type of lTypeEtab" [ngValue]="type.typEtaId">
                            {{type.typEtaNom}}
                        </option>
                    </select>
                </div>

                <!--TVA-->
                <div class="form-group col-md-6">
                    <label class="control-label">Tva</label>
                    <input type="text"  class="form-control" id="etaTva" formControlName="etaTva"> 
                    <div *ngIf="submitted && (form.etaTva.invalid || !validVat)">
                        <div *ngIf="form.etaTva.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="!validVat" class="text-danger" >*Le numéro de TVA doit être valide, 
                            n'oubliez pas le code pays par exemple : BE0409.458.972 
                            Il faut renvoyer le formulaire pour actualiser la validation</div>                          
                    </div>     
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Rue-->
                <div class="form-group col-md-8">
                    <label class="control-label">Rue</label>
                    <input type="text"  class="form-control" id="etaRue" formControlName="etaRue">
                    <div *ngIf="submitted && form.etaRue.invalid">
                        <div *ngIf="form.etaRue.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaRue.errors?.maxlength" class="text-danger" >*maximum 200 caractères </div>
                    </div>      
                </div>

                <!--Numéro-->
                <div class="form-group col-md-4">
                    <label class="control-label">Numéro</label>
                    <input type="text"  class="form-control" id="etaNum" formControlName="etaNum">   
                    <div *ngIf="submitted && form.etaNum.invalid">
                        <div *ngIf="form.etaNum.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaNum.errors?.maxlength" class="text-danger" >*maximum 50 caractères </div>
                    </div>  
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Code Postal-->
                <div class="form-group col-md-2">
                    <label class="control-label">Code Postal</label>
                    <input type="text"  class="form-control" id="etaCp" formControlName="etaCp">
                    <div *ngIf="submitted && form.etaCp.invalid">
                        <div *ngIf="form.etaCp.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaCp.errors?.maxlength" class="text-danger" >*maximum 50 caractères </div>
                    </div>    
                </div>

                <!--Ville-->
                <div class="form-group col-md-6">
                    <label class="control-label">Ville</label>
                    <input type="text"  class="form-control" id="etaVille" formControlName="etaVille"> 
                    <div *ngIf="submitted && form.etaVille.invalid">
                        <div *ngIf="form.etaVille.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaVille.errors?.maxlength" class="text-danger" >*maximum 100 caractères </div>
                    </div>     
                </div>
                
                <!--Pays-->
                <div class="form-group col-md-4">
                    <label class="control-label">Pays</label>
                    <input type="text"  class="form-control" id="etaPays" formControlName="etaPays"> 
                    <div *ngIf="submitted && form.etaPays.invalid">
                        <div *ngIf="form.etaPays.errors?.required" class="text-danger" >*obligatoire</div>
                        <div *ngIf="form.etaPays.errors?.maxlength" class="text-danger" >*maximum 50 caractères </div>
                    </div>     
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Adresse mail-->
                <div class="form-group col-md-12">
                    <label class="control-label">Email</label>
                    <input type="text"  class="form-control" id="etaMail" formControlName="etaMail">   
                    <div *ngIf="submitted && form.etaMail.invalid">
                        <div *ngIf="form.etaMail.errors?.Email" class="text-danger" >*l'adresse mail doit être valide</div>
                        <div *ngIf="form.etaMail.errors?.maxlength" class="text-danger" >*maximum 100 caractères </div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Adresse web-->
                <div class="form-group col-md-12">
                    <label class="control-label">Site Web</label>
                    <input type="text"  class="form-control" id="etaWeb" formControlName="etaWeb">   
                    <div *ngIf="submitted && form.etaWeb.invalid">
                        <div *ngIf="form.etaWeb.errors?.pattern" class="text-danger" >*L'adresse url doit être valide par ex : www.youplaboom.be/index</div>
                        <div *ngIf="form.etaWeb.errors?.maxlength" class="text-danger" >*maximum 100 caractères </div>
                    </div>  
                </div>
            </div>

            <div class="col-md-12 row">
                <!--Photo-->
                <div class="photo col-md-12" style="text-align:center;">
                    <label class="control-label">Photo</label>
                    <div *ngIf="etab.etaPhoto!=null && etab.etaPhoto!=''" class="photo">
                        <img [src]="createImgPath(etab.etaPhoto)" style="height:120px;">
                    </div>
                    <div *ngIf="etab.etaPhoto==null || etab.etaPhoto==''" class="photo">
                        <img [src]="noImageAvailableUrl" style="height:120px;">
                    </div>

                    <br>
                    <br>
                    <!--Upload Photo-->
                    <div>
                        <input type="file" #file placeholder="Choose file" (change)="uploadFileCheck(file.files)" style="display:none;">
                        <button type="button" class="btn btn-success" (click)="file.click()">Charger une image</button>
                    </div>
                    
                    <div>
                        <span class="upload" *ngIf="progressUpload > 0">
                        {{progressUpload}}%
                        </span>
                        <span class="upload" *ngIf="messageUpload">
                        {{messageUpload}}
                        </span>
                    </div>
                </div>
            </div>
            
            <div>
                <br>
                <br>
            </div>

        <div class="col-md-12 row">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <div class="btn btn-danger" routerLink="/Etablissements/">Retour au tableau de bord des établissements</div>
          </div>
        </form>
    </div>

</div>
