<br>
<br>
<div class="card">
    <div class="card-header">
        <h3>Liste des tarifs pour les bières</h3>
    </div>
    <table  class="table">
        <thead>
            <tr>
                <th>Nombre de vue</th>
                <th>Prix</th>
                <th class="text-center">Date de début</th>
                <th class="text-center">Date de fin</th>
                <th class="text-center">Activer</th>
                <th class="text-center">Enregistrer</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <app-tarif class="innerForm" *ngFor="let tar of lTarifsBierePagination"
            [tarif]="tar"
            [type]="TypeTarifVueBiere"> 
            </app-tarif>
        </tbody>
    </table>

  

    <div *ngIf="!lTarifsBiere.length" class="card-header">
        Il n'existe pas encore de tarifs pour les bières
    </div>

    <div>
        <br>
    </div>
  
    <div class="d-flex justify-content-center">
        <pagination [totalItems]="lTarifsBiere.length" (pageChanged)="pageChanged($event)" previousText="{{previousText}}"
        nextText="{{nextText}}" [itemsPerPage]="itemsPerPage"></pagination>
    </div>
    

    <br>
    <br>
    <div class="text-center">
    <button class="btn btn-primary" (click)="addTarifBiere()">Ajouter un tarif</button>
    <button *ngIf="onlyActif" class="btn btn-info" (click)="switchOnlyActif()">Voir tous les tarifs</button>
    <button *ngIf="!onlyActif" class="btn btn-info" (click)="switchOnlyActif()">Voir uniquement les tarifs actifs</button>
    </div>  

</div>
