
<br>
<br>
<div class="card">
  <div class="card-header">
      <h3>Bienvenue</h3>
  </div>

  <div class="card-body">
    <label>Vous êtes ici sur le site pour la gestion professionnelle de l'Application BeerUp</label>
    <div><br></div>
    <label>Si vous êtes un professionnel, nous vous invitons à vous engistrer pour découvrir toutes les possibilitées que BeerUp fournit</label>
    <div><br></div>
    <label>Si vous êtes un particulier, qui veut découvrir de nouvelles bières ou trouver où consommer votre bière préférée,</label>
    <label>nous vous invitons à télécharger l'Application mobile</label>
  </div>


</div>


 