<!--
<carousel style="width: 100%; background-size: cover;">
    <slide>
      <img class="img-fluid" src="assets/images/home/biere1.jpg" alt="Photo par formulaire PxHere" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img  class="img-fluid" src="assets/images/home/biere2.jpg" alt="Photo par formulaire PxHere" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img  class="img-fluid" src="assets/images/home/biere3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
 -->


 