<form class="innerForm" [formGroup]="horaireForm" (ngSubmit)="onSubmitForm()">
    <tr [ngClass]="getClass()">
        <td style="text-align: center;">
            <select formControlName="horJour" class="form-control">
                <option *ngFor="let jour of lJoursSemaine" [ngValue]="jour">
                    {{jour}}
                </option>
            </select>    
        </td>
    
        <td>
            <input style="text-align: center;" type="time" class="form-control" id="horDebut" formControlName="horDebut">
        </td>
    
        <td style="text-align: center;">
            <input style="text-align: center;" type="time" class="form-control" id="horFin" formControlName="horFin">
        </td>

        <td style="text-align: center;">
            <button *ngIf="!isNew()" class="text-center btn btn-primary" type="submit">Sauvegarder</button>
            <button *ngIf="isNew()" class="text-center btn btn-primary" type="submit">Créer</button>
        </td>
    
        <td style="text-align: center;">
            <button *ngIf="!isNew()" class="text-center btn btn-danger" type="button" (click)="supprimer()">Supprimer</button>
        </td>
    
    </tr>
    </form>