<br>
<br>
<div class="card">
    <div class="card-header">
        <h3>Liste des bières</h3>
    </div>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Nom de la bière </th>
                <th>Brasserie </th>
                <th class="text-center">Modifier la bière</th>
                <th class="text-center">Valider</th>
                <th class="text-center">Activer</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
            <tbody>
                <app-element-biere class="innerForm" *ngFor="let biere of lBieresOrgaPagination" 
                [biere]="biere"
                [lEtabs]="lEtabsOrga" >
                </app-element-biere>

            </tbody>

    </table>
    <div *ngIf="!lBieresOrga.length" class="card-header">
        Il n'existe pas encore de bière pour l'organisation
    </div>

    <div>
        <br>
    </div>
  
    <div class="d-flex justify-content-center">
        <pagination [totalItems]="lBieresOrga.length" (pageChanged)="pageChanged($event)" previousText="{{previousText}}"
        nextText="{{nextText}}" [itemsPerPage]="itemsPerPage"></pagination>
    </div>

    <br>
    <br>

    <button class="btn btn-primary" routerLink="/FicheBiere/new">Créer une bière</button>
    <button *ngIf="onlyValid" class="btn btn-info" (click)="switchOnlyValid()">Voir tous les tarifs</button>
    <button *ngIf="!onlyValid" class="btn btn-info" (click)="switchOnlyValid()">Voir uniquement les tarifs valides</button>

</div>