<form class="innerForm" [formGroup]="tarifForm" (ngSubmit)="onSubmitForm()">
<tr [ngClass]="getClass()">
    <td>
        <input type="text"  class="form-control" id="nbVue" formControlName="nbVue">
       
    </td>

    <td>
        <input type="text" class="form-control" id="prix" formControlName="prix">
    </td>

    <td>
        <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut">
    </td>

    <td>
        <input type="date" class="form-control" id="dateFin" formControlName="dateFin">
    </td>
    
    <td>
        <button *ngIf="tarif.actif" class="btn btn-info text-center" type="button" (click)="activation()">Désactiver</button>
        <button *ngIf="!tarif.actif" [disabled]="getIsNew()" class="btn btn-secondary text-center" type="button" (click)="activation()">Activer</button>
    </td>

    <td>
        <button *ngIf="!getIsNew()" class="btn btn-primary text-center" type="submit">Sauvegarder</button>
        <button *ngIf="getIsNew()" class="btn btn-primary text-center" type="submit">Créer</button>
    </td>

    <td>
        <button *ngIf="!getIsNew()" class="btn btn-danger text-center" type="button" (click)="supprimer()">Supprimer</button>
    </td>

</tr>
</form>


