<form class="innerForm" [formGroup]="tarifForm" (ngSubmit)="onSubmitForm()">
<tr [ngClass]="getClass()">
    <td>
        <input class="form-control"  id="nbVue" formControlName="nbVue" [readonly]="getIsOld()">
    </td>

    <td>
        <input class="form-control"  id="prix" formControlName="prix" [readonly]="getIsOld()">
    </td>

    <td>
        <input type="date" class="form-control datepicker" id="dateDebut" formControlName="dateDebut">
    </td>

    <td>
        <input type="date" class="form-control datepicker" id="dateFin" formControlName="dateFin">
    </td>
    
    <td>
        <button *ngIf="tarif.actif" class="text-center btn btn-info" type="button" (click)="activation()">Désactiver</button>
        <button *ngIf="!tarif.actif" [disabled]="getIsNew()" class="text-center btn btn-secondary" type="button" (click)="activation()">Activer</button>
    </td>

    <td>
        <button *ngIf="!getIsNew()" class="text-center btn btn-primary" type="submit">Sauvegarder</button>
        <button *ngIf="getIsNew()" class="text-center btn btn-primary" type="submit">Créer</button>
    </td>

    <td>
        <button *ngIf="tarif.isDeletable" class="text-center btn btn-danger" type="button" (click)="supprimer()">Supprimer</button>
    </td>

</tr>
</form>


