
<header>
    <img  src="assets/images/home/hops.jpg" style="
    position: absolute;
    left: 0;
    right: 0;
    margin: -2px;
    margin-top: -4px; 
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: top;">
   
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow bd-navbar mb-3">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li routerLinkActive="active" class="nav-item" ><a class="navbar-brand" style="color:#9fe855" routerLink="home">BeerUp</a></li>
                        
                        <li class="btn-group" dropdown>
                            <div *ngIf="isAuth() && hasAchatAdminAccess()" id="button-animated nav-item" dropdownToggle type="button" class="nav-link text-light dropdown-toggle" aria-controls="dropdown-animated">
                                Achats <span class="caret"></span>
                            </div>
                            <div id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                                <div role="menuitem"><a class="dropdown-item text-dark" routerLink="AchatsBiere">Vues bières</a></div>
                                <div role="menuitem"><a class="dropdown-item text-dark" routerLink="AchatsEtab">Vues établissements</a></div>
                                <div role="menuitem"><a class="dropdown-item text-dark" routerLink="NewAchat">Achat de nouvelles vues</a></div>
                                <div role="menuitem"><a class="dropdown-item text-dark" routerLink="Factures">Factures</a></div>
                            </div>
                        </li>

                        <li class="btn-group" dropdown>
                            <div *ngIf="isAuth() && hasUserAdminAccess()" id="button-animated nav-item" dropdownToggle type="button" class="nav-link text-light dropdown-toggle" aria-controls="dropdown-animated">
                                Administration <span class="caret"></span>
                            </div>

                            <div id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                                <div *ngIf="isAuth() && isAdmin()" role="menuitem"><a class="dropdown-item" routerLink="PlansTarifairesBiere">Tarifs bières</a></div>
                                <div *ngIf="isAuth() && isAdmin()" role="menuitem"><a class="dropdown-item" routerLink="PlansTarifairesEtab">Tarifs établissements</a></div>
                                <div *ngIf="isAuth() && hasUserAdminAccess()" role="menuitem"><a class="dropdown-item" href="{{adminUserUrl}}">Utilisateurs</a></div>
                            </div>
                        </li>

                        <li *ngIf="isAuth() && hasBiereAdminAccess()" routerLinkActive="active" class="nav-item "><a class="nav-link text-light" routerLink="Bieres">Bières</a></li>
                        <li *ngIf="isAuth() && hasEtablissementAdminAccess()" routerLinkActive="active" class="nav-item "><a class="nav-link text-light" routerLink="Etablissements">Etablissements</a></li>
                        <li *ngIf="!isAuth()" routerLinkActive="active" class="nav-item ml-auto"><a class="nav-link text-light" routerLink="login">S'identifier</a></li>     
                        <li *ngIf="!isAuth()" routerLinkActive="active" class="nav-item"><a class="nav-link text-light" href="{{registerUrl}}">S'enregistrer</a></li>  

                        <li *ngIf="isAuth()"class="btn-group nav-item ml-auto" dropdown>
                            <div id="button-animated nav-item " dropdownToggle type="button" class="nav-link dropdown-toggle text-white" aria-controls="dropdown-animated">
                                {{getUserName()}} <span class="caret"></span>
                            </div>
                            <div  id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                                <div role="menuitem"><a class="dropdown-item text-dark" routerLink="login">Se déconnecter</a></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
</header>
<body> 
    <div class="container bg-light mt-2">
        <router-outlet></router-outlet>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2021 - BeerUp - <span class="text-white" routerLink="contact">Contact</span>
        </div>
    </footer>
</body>

