<br>
<br>
<div class="card">
    <h3 class="card-header">Horaire de l'établissement : {{etab.etaNom}}</h3>
    <div>
        <br>
    </div>
    <div class="col-md-12">
        <!--Horaires-->
        <div class="card">
            <div class="card-header">
                Horaires d'ouvertures
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th class="text-center">Jour</th>
                        <th class="text-center">Ouverture</th>
                        <th class="text-center">Fermeture</th>
                        <th class="text-center">Enregistrer</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <app-horaire class="innerForm" *ngFor="let hor of lHoraires"
                    [horaire]="hor"
                    [eta]="etab"
                    [lHoraires]="lHoraires">
                    </app-horaire>
                </tbody>
            </table>
            <div *ngIf="!lHoraires.length" class="card-header">
                Il n'existe pas encore d'horaire pour cet établissement
            </div>
            <br>
            <br>
        
            <button class="btn btn-primary" (click)="addHoraire()">Ajouter un horaire</button>
        
        </div>
        <div>
            <br>
        </div>

        
             <!--Jours Fermetures-->
            <div  class="card col-md-12">
                <div class="card-header">
                    Jours de fermetures
                </div>
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Jour</th>
                            <th class="text-center">Enregistrer</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-jour-fermetures class="innerForm" *ngFor="let jo of lJours"
                        [jour]="jo"
                        [eta]="etab">
                        </app-jour-fermetures>
                    </tbody>
                </table>
                <div *ngIf="!lJours.length" class="card-header">
                    Il n'existe pas encore de jour de fermeture pour cet établissement
                </div>
                <br>
                <br>
            
                <button class="btn btn-primary" (click)="addJour()">Ajouter un jour</button>
            
            </div>
        </div>

        <div>
            <br>
            <br>
        </div>
        
        <div class="col-md-12 row">
            <div class="btn btn-danger" routerLink="/Etablissements/">Retour au tableau de bord des établissements</div>
          </div>
    

</div>
