<div class="card">
    <div class="card-header">
        Liste des tarifs pour les établissements
    </div>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Nombre de vue</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Date de début</th>
                <th class="text-center">Date de fin</th>
                <th class="text-center">Activer</th>
                <th class="text-center">Enregistrer</th>
                <th class="text-center">Supprimer</th>
            </tr>  
        </thead>
        <tbody>
                <app-tarif  class="innerForm" *ngFor="let tar of lTarifsEtabs"
                    [tarif]="tar"
                    [type]="TypeTarifVueEtab">
                </app-tarif>  
            </tbody>
        </table>
    <div *ngIf="!lTarifsEtabs.length" class="card-header">
        Il n'existe pas encore de tarifs pour les établissements
    </div>
    <br>
    <br>
    <button class="btn btn-primary" (click)="addTarifEtab()">Ajouter un tarif</button>

</div>
<br>
<br>

<div class="card">
    <div class="card-header">
        Liste des tarifs pour les bières
    </div>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Nombre de vue</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Date de début</th>
                <th class="text-center">Date de fin</th>
                <th class="text-center">Activer</th>
                <th class="text-center">Enregistrer</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <app-tarif class="innerForm" *ngFor="let tar of lTarifsBiere"
            [tarif]="tar"
            [type]="TypeTarifVueBiere"> 
            </app-tarif>
        </tbody>
    </table>
    <div *ngIf="!lTarifsBiere.length" class="card-header">
        Il n'existe pas encore de tarifs pour les établissements
    </div>
    <br>
    <br>

    <button class="btn btn-primary" (click)="addTarifBiere()">Ajouter un tarif</button>

</div>
