<br>
<br>
<div class="card">
    <div class="card-header">
        <h3>Facture n°{{id}}</h3>
    </div>
    <button class="text-center btn btn-success" type="button" (click)="createPdf()">Télécharger en pdf</button>
	<div>
		<br>
		<br>
	</div>

    <div >
        <div class="invoice-box" >
			<div id="htmlData" class="boxpadding">
			<table>
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="assets/images/home/logo_fond_blanc.png" alt="Company logo" style="width: 100%; max-width: 300px" />
								</td>

								<td>
									Facture n°{{id}}<br />
									Date: {{formattedDate}}
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									{{adresseNom}}<br />
									{{adresseRue}}<br />
									{{adresseVille}} <br />
									{{adressePays}} <br />
									{{numeroTVA}}
								</td>

								<td>
									{{organisation.orgNom}}<br />
									{{adresseFact.adrFacNum}}, {{adresseFact.adrFacRue}}<br />
									{{adresseFact.adrFacCp}} {{adresseFact.adrFacVil}} <br />
                                    {{adresseFact.adrFacPays}} <br />
									{{organisation.orgTva}}
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Achat</td>

					<td *ngIf="!isCorrection()">Prix</td>
					<td *ngIf="isCorrection()">Valeur</td>
				</tr>

				<tr class="item" *ngFor="let achatBiere of lAchatBiere">
					<td>{{achatBiere.bieNom}} &#8208; {{achatBiere.bieNbVuAch}} vues</td>

					<td>{{achatBiere.biePrix}} € tvac</td>
				</tr>

                <tr class="item" *ngFor="let achatEtab of lAchatEtab">
					<td>{{achatEtab.etaNom}} &#8208; {{achatEtab.etaNbVuAch}} vues</td>

					<td>{{achatEtab.etaPrix}} € tvac</td>
				</tr>

				<tr class="item" *ngIf="isCorrection()">
					<td STYLE="padding:0 0 0 20px;">Raison : {{facture.facMotif}}</td>

					<td></td>
				</tr>

				<tr class="total">
					<td></td>

					<td>Total htva: {{soldeHtva}} €</td>
				</tr>

                <tr class="total">
					<td></td>

					<td>TVA ({{TVA}} &#8274;) : {{soldeTva}} €</td>
				</tr>

                <tr class="total">
					<td></td>

					<td>Total tvac: {{solde}} €</td>
				</tr>

			</table>
		</div>
		</div>
    </div>


</div>

