<tr>
    <td>
        <div>{{ etab.etaNom }}</div>
    </td>
    
    <td class="text-center">
        <button class="btn btn-secondary" routerLink="/FicheEtablissement/{{ etab.etaId }}">Modifier établissement</button>
    </td>

    <td class="text-center">
        <button  class="btn btn-secondary" routerLink="/TabBordBieresEtab/{{ etab.etaId }}">Modifier les bières vendues</button>
    </td>

    <td class="text-center">
        <button  class="btn btn-secondary" routerLink="/FicheHoraires/{{ etab.etaId }}">Modifier les horaires</button>
    </td>

    <td class="text-center">
        <button *ngIf="etab.etaActif" class="btn btn-info" type="button" (click)="activation()">Désactiver</button>
        <button *ngIf="!etab.etaActif" class="btn btn-primary" type="button" (click)="activation()">Activer</button>
    </td>

    <td class="text-center">
        <button *ngIf="etab.isDeletable" class="btn btn-danger" type="button" (click)="supprimer()">Supprimer</button>
    </td>

</tr>
    