<tr>
    <td>
        <div>{{ biere.bieNom }}</div>
    </td>

    <td>
        <div>{{ etabNom }}</div>
    </td>
    
    <td class="text-center">
        <button class="btn btn-secondary" routerLink="/FicheBiere/{{ biere.bieId }}">Modifier</button>
    </td>

    <td class="text-center">
        <button *ngIf="biere.bieValide" class="btn btn-info" type="button" (click)="validation()">Dévalider</button>
        <button *ngIf="!biere.bieValide" class="btn btn-primary" type="button" (click)="validation()">Valider</button>
    </td>

    <td class="text-center">
        <button *ngIf="biere.bieActif" class="btn btn-info" type="button" (click)="activation()">Désactiver</button>
        <button *ngIf="!biere.bieActif" class="btn btn-primary" type="button" (click)="activation()">Activer</button>
    </td>

    <td class="text-center">
        <button *ngIf="biere.isDeletable" class="btn btn-danger" type="button" (click)="supprimer()">Supprimer</button>
    </td>

</tr>
    