<br>
<br>
<div class="card">
    <div class="card-header">
        <h3>Remerciements</h3>
    </div>
    <div><br></div>
    <ul>
        <li>
            Merci à Nath pour sa patience, son écoute et ses encouragements toutes ses années !
        </li>
        <div><br></div>
        <li>
            Merci à Monsieur Hecquet pour ses conseils précis et son énorme disponibilité !
        </li>
        <div><br></div>
        <li>
            Merci à Mariana pour les conseils toujours avisés !
        </li>
        <div><br></div>
        <li>
            Merci à Marielle pour ses couleurs !
        </li>
        <div><br></div>
        <li>
            Merci à Jérôme pour sa motivation et son coup de pied au cul !
        </li>
        <div><br></div>
        <li>
            Merci à Narco pour son assistanat !
        </li>
        
        <div><br></div>
        <li>
            Merci à tous les professeurs de l'Ephec pour leur encadrement
        </li>
    </ul>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
